{% extends "network/layout.html" %}

{% block body %}

    <div id="posts_display"></div>
    <div id="user_display"></div>

    <div id="create_posts_display">
        <form action="{% url 'create' %}" method="post">
            {% csrf_token %}
            <textarea name="new_post_text" id="new_post_textarea" cols="30" rows="10" placeholder="What's in your mind?"></textarea>
            <input type="submit" value="Submit">
        </form>
    </div>

    <div id="edit_posts_display">
        <textarea name="edit_post_text" id="edit_post_textarea" cols="30" rows="10" placeholder="What's in your mind?"></textarea>
        <button id="edit_post_submit" class="button-55">Save</button>
    </div>

{% endblock %}