{% extends 'auctions/layout.html' %}

{% block body %}

{% if message %}
<div>{{ message }}</div>
{% endif %}

{% if listing.online %}

    <div class="card" style="width: 100%;">
                    
        <div class="row no-gutters">
            <div class="col-md-4">
                {% if listing.image %}
                <img src="{{listing.image}}" alt="{{listing.title}}'s image" width="99%" height="99%">
                {% else %}
                <div style="position: absolute; top: 50%; left: 50%; transform: translateY(-50%) translateX(-50%);">
                    No Image Uploaded!
                </div>
                {% endif %}
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{listing.title}}</h5>
                    <p class="card-text">
                        <div>{{listing.description}}</div><br>
                        <div class="text-muted">Category: {{listing.category}}</div>
                        <div class="text-muted">Listed by: {{listing.owner.username}}</div>
                        <br>
                        {% if listing not in watchlist %}
                            <form action="{% url 'add_watchlist' listing.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit">Add to watchlist</button>
                            </form>
                        {% else %}
                            <form action="{% url 'remove_watchlist' listing.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit">Remove from watchlist</button>
                            </form>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>  

    <div class="card" style="width: 100%;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <div class="card-body">
                    <strong class="card-text" style="font-size: larger; 
                    position: absolute; top: 25%; left: 50%;
                     transform: translateY(-50%) translateX(-50%);">
                     Current price: ${{listing.price}}
                    </strong>
                    <br><br>
                    {% if listing.winner %}
                    <p style="font-size: larger; position: absolute;
                    left: 50%; transform: translateX(-50%);">Current winner: {{listing.winner.username}}</p> <br>
                    {% else %}
                    <p style="font-size: larger; position: absolute;
                    left: 50%; transform: translateX(-50%);">No bidders yet.</p> <br>
                    {% endif %}
                    <br>
                    <form action="{% url 'bid' listing.id %}" method="post">
                        {% csrf_token %}
                        {{bid_form}}
                        <br>
                        <input class="btn btn-dark" style="margin: 0;
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);" type="submit" value="Submit">
                    </form>
                </div>

            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <p class="card-title">Comment Section</p>
                    <ul>
                        {% for comment in comments %}
                            <li class="card-text">{{comment.text}}</li><div class="text-muted">Commented by {{comment.user}}</div>
                        {% empty %}
                            <li class="card-text">No comments yet!</li>
                        {% endfor %}
                    </ul>
                    <form action="{% url 'comments' listing.id %}" method="post">
                        {% csrf_token %}
                        {{comment_form}}
                        <p></p>
                        <input class="btn btn-dark" type="submit" value="Submit" name="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>


{% else %}

    {% if listing.winner.id == user.id %}
        <h2 style="text-align: center;">You won this auction!</h2>
 
    {% else %}
        <h2 style="text-align: center;">This listing isn't available anymore!</h2>
    {% endif %}

{% endif %}

{% endblock %}