{% extends 'auctions/layout.html' %}

{% block body %}

{% if message %}
<div>{{ message }}</div>
{% endif %}

{% if listing.online %}

    <div class="card" style="width: 100%;">
                    
        <div class="row no-gutters">
            <div class="col-md-4">
                {% if listing.image %}
                <img src="{{listing.image}}" alt="{{listing.title}}'s image" width="99%" height="99%">
                {% else %}
                <div style="position: absolute; top: 50%; left: 50%; transform: translateY(-50%) translateX(-50%);">
                    No Image Uploaded!
                </div>
                {% endif %}
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{listing.title}}</h5><br>
                    <p class="card-text">
                        <div>{{listing.description}}</div><br>
                        <div class="text-muted">Category: {{listing.category}}</div>
                        <div class="text-muted">Listed by: {{listing.owner.username}}</div>
                    </p>
                
                </div>
            </div>
        </div>
    </div>  

    <div class="card" style="width: 100%;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <div class="card-body">
                    <p class="card-text" style="font-size: larger; position: absolute;
                    left: 50%; transform: translateX(-50%);">Current price:</p>
                    <br><br>
                    <strong class="card-text" style="font-size: larger; position: absolute;
                     left: 50%; transform: translateX(-50%);">${{listing.price}}</strong>
                </div>
                <br>
                <div class="card-body">
                    {% if listing.winner %}
                    <p style="font-size: larger; position: absolute;
                    left: 50%; transform: translateX(-50%);">Current winner: {{listing.winner.username}}</p> <br>
                    {% else %}
                    <p style="font-size: larger; position: absolute;
                    left: 50%; transform: translateX(-50%);">No bidders yet.</p> <br>
                    {% endif %}
                </div>
                <form action="{% url 'close' listing.id %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-dark" type="submit" name="close" style="  margin: 0;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);">Close Bid</button>
                </form>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <p class="card-title">Comment Section</p>
                    <ul>
                        {% for comment in comments %}
                            <li class="card-text">{{comment.text}}</li><div class="text-muted">Commented by {{comment.user}}</div>
                        {% empty %}
                            <li class="card-text">No comments yet!</li>
                        {% endfor %}
                    </ul>
                    <form action="{% url 'comments' listing.id %}" method="post">
                        {% csrf_token %}
                        {{comment_form}}
                        <p></p>
                        <input class="btn btn-dark" type="submit" value="Submit" name="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>


{% else %}

    
  

{% endif %}

{% endblock %}