{% extends 'auctions/layout.html' %}

{% block body %}


{% for listing in listings %}
    {% if listing.online %}

        <div class="card" style="width: 100%;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    {% if listing.image %}
                    <img src="{{listing.image}}" alt="{{listing.title}}'s image" width="99%" height="99%">
                    {% else %}
                    <div style="position: absolute; top: 50%; left: 50%; transform: translateY(-50%) translateX(-50%);">
                        No Image Uploaded!
                    </div>
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'listings' listing.id %}">{{listing.title}}</a></h5>
                        <p class="card-text">
                            <div>{{listing.description}}</div><br>
                            <div class="text-muted">Price: ${{listing.price}}</div>
                            <div class="text-muted">Category: {{listing.category}}</div>
                            <div class="text-muted">Listed by: {{listing.owner.username}}</div>
                        </p>
                </div>
            </div>
        </div>  

    {% endif %}
{% empty %}
<h2 style="text-align: center;">No listings added to your watchlist!</h2>
{% endfor %}


{% endblock %}